
.table_container {
    float: left;
    margin-top: 80px;
}
.thead-select {
    width: 30px;
}
.thead-id {
    width: 80px;
}
.thead-nome {
    width: 200px;
}
.thead-option {
    width: 100px;
}
.table-option {
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
}
.container-form-relatorio {
    margin-top: 20px;
}
.container-relatorio-content {
    margin-top: 15px;
}
.botoes-relatorio {
    margin-top: 25px;
}
.botoes-relatorio a:hover {
    text-decoration: none;
}
#editor-form .container-fluid {
    padding: 15px;
}
.editor-button-container {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.editor-button-container button {
    margin-left: 2px;
}

.form-group.has-feedback .form-control-feedback {
    display: none;
}
.filterbutton {
    max-height: 37px;
}
#col-filtertext {
    padding-right: 0;
}
#col-filterbutton {
    padding-left: 3px;
    padding-right: 1px;
}
#col-data-add, #col-data-alt, #col-preco {
    width: 10%;
}
#col-marca, #col-placa {
    width: 8%;
}
#col-descricao {
    width: 54%;
}
#btn-relatorios > i{
    display: inline-flex;
    vertical-align: middle;
}