/** Colocar aqui os CSS golobais que serão executados logo após o bootstrap **/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');


.clickable {
    cursor: pointer;
}
/*alerts*/
.alert-fixed {
    height: 40px;
    text-align: center;
    position:fixed;
    width: 100%;
    top: 40px;
    z-index:9999;
    padding: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.alert-text {
    height: 24px;
    line-height: 1;
    font-size: 24px;
    vertical-align: middle;
}
.alert-text i {
    vertical-align: middle;
}
/** Sidebar direita **/
.sidebar-right {
    background: #337ab7;
    position: fixed;
    right: 0;
    height: 100vh;
    white-space: nowrap;
    padding: 50px 0 0 0;
    width: 40px;
    transition: width 1s;
}
.sidebar-right:hover {
    width: 215px;
}
.sidebar-right.active {
    width: 215px;
}
.sidebar-wrapper {
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.sidebar-right .item {
    width: 100%;
    height: 50px;
    overflow: hidden;
    color: #a8a2a2;
}

.sidebar-right .item.active {
    color: #ffffff;
    cursor: pointer;
}
.sidebar-right .item:hover {
    background: #6495c0;
    padding-left: 3px;
}
.sidebar-link i {
    padding-left: 7px;
    width: 40px;
    vertical-align: middle;
    font-weight: bold;
}
.sidebar-link {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
/* Spinner */
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner {
    height: 50px;;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}

.spinner::before {

    animation: 2s linear infinite spinner;
    border: solid 3px rgb(151, 203, 238);
    border-bottom-color: rgb(44, 25, 133);
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}
#tablePaginator {
    margin-top: 5px;
}

.noshow {
    display: none;
}

.form-control-feedback {
    /* alinhar corretamente o icone de feedback do form */
    text-align: left;
}